<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.younglin.partnerMatching.mapper.ChatPageMapper">

    <resultMap id="BaseResultMap" type="com.younglin.partnerMatching.model.domain.ChatPage">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="senderId" column="senderId" jdbcType="BIGINT"/>
            <result property="recevierId" column="recevierId" jdbcType="BIGINT"/>
            <result property="senderOnline" column="senderOnline" jdbcType="TINYINT"/>
            <result property="recevierOnline" column="recevierOnline" jdbcType="TINYINT"/>
            <result property="isRead" column="isRead" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,senderId,recevierId,
        senderOnline,recevierOnline,isRead,
        createTime,updateTime,isDelete
    </sql>
</mapper>
